@import 'abstracts/abstracts';

article#post-78 {

    section.company-info-container {
        section.company-info {
            p {
                text-align: left;
            }
        }
    }
    section.founder-info-container {
        background-color: $yellow;
        padding: 4rem 0 2rem 0;
        section.founder-info {
            h3 {
                margin-bottom: 0;
            }

            img {
                width: 13rem;
                height: 13rem;
                object-fit: cover;
                border-radius: 50% 50%;
                border: $yellow solid 5px;
            }
        }
    }

    section.locations-info-container {

        section.locations-info {
            padding-bottom: 3rem;
            a.button {
                text-decoration: none;
                padding: .75rem 1rem;
                background-color: $bg-color;
                border: $text-color solid 2px;
                border-radius: 50px 50px;
                color: $text-color;
            }
        }
    }

    section.join-us-info-container {

        section.join-us-info {
            padding-bottom: 3rem;
            a.button {
                text-decoration: none;
                padding: .75rem 1rem;
                background-color: $bg-color;
                border: $text-color solid 2px;
                border-radius: 50px 50px;
                color: $text-color;
            }
        }
    }

}

@media (min-width: 60rem) {
    article#post-78{
        section.company-info-container {
            @include page-grid-layout;
            section.company-info{   
                display: flex;
                align-items: center;
                justify-content: space-between;

                p{
                    padding-right: 2rem;
                }
            }
        }
        section.founder-info-container {
            @include page-grid-layout;
            section.founder-info {
                padding: 0 2rem;
            }
        }

        section.locations-info-container {
            @include page-grid-layout;
            section.locations-info {
               
            }
        }

        section.join-us-info-container {
            @include page-grid-layout;
            section.join-us-info {
               display: flex;
               align-items: center;
               justify-content: space-between;

                div.join-us-content {
                    padding-right: 2rem;
                }
            }
        }
    }
}