@import 'abstracts/abstracts';

article#post-78 {

    section.company-info-container {
        background-color: $yellow;
        section.company-info {
            img {
                max-height: 20rem;
            }
        }
    }

}

@media (min-width: 60rem) {
    article#post-78{
        section.company-info-container {
            section.company-info{
                @include page-grid-layout;
            }
        }
        section.founder-info-container {
            section.founder-info {
                @include page-grid-layout;
            }
        }

        section.locations-info-container {
            section.locations-info {
                @include page-grid-layout;
            }
        }

        section.join-us-info-container {
            section.join-us-info {
                @include page-grid-layout;
            }
        }
    }
}