@import "abstracts/abstracts";

article#post-78 {
    h1 {
        margin-bottom: 0;
    }

    section.founder-info-container {
        padding: 4rem 1.5rem 1rem 1.5rem;
        section.founder-info {
            h3 {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 1.35rem;
            }

            img {
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                border-radius: 50% 50%;
                border: $yellow solid 8px;
                outline: $coral solid 8px;
            }
        }
    }

    section.company-info-container {
        padding: 2rem 1.5rem 2rem 1.5rem;
        h2 {
            color: $coral;
        }
        section.company-info {
            p {
                text-align: left;
            }
        }
    }

    section.join-us-info-container {
        background-color: $yellow;
        padding: 5rem 1.5rem;
        section.join-us-info {
            a.button {
                display: block;
                border: 3px solid #f1876b;
                border-radius: 25px 25px;
                margin: 0 auto;
                padding: 0.5rem 1.5rem;
                transition: 0.3s ease;
                color: #f1876b;
                text-decoration: none;
                background-color: $bg-color;
                width: 7rem;
                font-family: inherit;

                &:hover {
                    background-color: $coral;
                    color: $text-color-light;
                }
            }

            img {
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                border-radius: 50% 50%;
                border: $bg-color solid 8px;
                outline: $coral solid 8px;
            }
        }
    }
}

@media (min-width: 40rem) {
    article#post-78 {
        section.company-info-container {
            section.company-info {
                width: 90%;
                margin: 0 auto;
                img {
                    width: 400px;
                    height: 400px;
                }
            }
        }
        section.founder-info-container {
            section.founder-info {
                width: 90%;
                margin: 0 auto;
                img {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }

        section.join-us-info-container {
            section.join-us-info {
                div.join-us-content {
                    width: 90%;
                    margin: 0 auto;
                }
                img {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
}

@media (min-width: 65rem) {
    article#post-78 {
        section.company-info-container {
            @include page-grid-layout;
            section.company-info {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 90%;
                margin: 0 auto;
            }
        }
        section.founder-info-container {
            @include page-grid-layout;
            section.founder-info {
                width: 90%;
                margin: 0 auto;
            }
        }

        section.join-us-info-container {
            @include page-grid-layout;
            section.join-us-info {
                div.join-us-content {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}
