@import 'abstracts/abstracts';

body.page-id-69 {
    section.catering-container {
        
        section.catering {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            article.catering-options {
                max-width: 18rem;
                margin: 0 1rem 1rem 1rem;
                

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    section.faq-container {
        margin: 0 0 2rem 0;
        section.faq {
            h2 {
                padding: 2rem 0 1rem 0;
                font-size: 2rem;
                border-top: $text-color solid 2px;
            }
            article.individual-faq-container {
                text-align: left; 
                margin: 1rem 0;
                background-color: white;
                border: $text-color solid 2px;
                border-radius: 20px 20px;

                summary.faq-question {
                    
                    padding: 1rem;
                }

                div.faq-answer {
                    border-top: $text-color solid 2px;
                    padding: 1rem 1.5rem;
                }
            }
        }
    }

    section.catering-form-container {
        background-color: $coral;
        color: $bg-color;
        section.catering-form {
            text-align: left;

            h2 {
                text-align: center;
            }

            button {
                background-color: $bg-color;
                border: $text-color solid 3px;
                color: $text-color;
            }
        }
    }

    section.image-container {
        padding-bottom: 1rem;
        img {
            width: 61rem;
            height: 18rem;
            object-fit: cover;
            border-radius: 20px 20px;
        }
    }

}

@media (min-width: 65rem) {
    body.page-id-69 {
        section.catering-container {
            @include page-grid-layout;
            section.catering {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 0;
                section.catering-options{
                    margin-bottom: 0;
                }
            }
        }
        section.faq-container {
            @include page-grid-layout;
            section.faq {
                
            }
        }
        section.catering-form-container {
            display: grid;
            grid-template-columns: 40rem;
            justify-content:center;
            align-items: center;
            section.catering-form {
                
            }
        }
    }
}