.acf-map {
    width: 600px;
    height: 600px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
// Fixes potential theme css conflict.
.acf-map img {
    max-width: inherit !important;
}

// img {
//     max-width: 25rem;
// }
