@import "abstracts/abstracts";

body.post-type-archive-cafe-jobs {
    section.location-container {
        text-align: left;
        padding: 3rem 2rem 0 2rem;
        section.location {
            h2 {
                font-family: $bungee;
                padding-bottom: 0.5rem;
                // border-bottom: $coral solid 3px;
                text-decoration: underline;
            }

            article.position-container {
            }
        }
    }
}

@media (min-width: 40rem) {
    body.post-type-archive-cafe-jobs {
        section.location-container {
            section.location {
                h2 {
                    font-family: $bungee;
                    padding-bottom: 0.5rem;
                    text-decoration: underline;
                }

                article.position-container {
                    margin-left: 5rem;
                    padding: 0 1.5rem;
                    border-left: $coral solid 2px;
                }
            }
        }
    }
}
@media (min-width: 68rem) {
    body.post-type-archive-cafe-jobs {
        section.location-container {
            section.location {
                @include page-grid-layout;
            }
        }
    }
}
