@import "abstracts/abstracts";

main.site-main {
    background-color: $bg-color;
    font-family: $roboto;
    color: $text-color;
    text-align: center;
    padding: 3rem 0 0 0;

    h1 {
        font-family: $abril;
        font-size: 3rem;
        margin-top: 0;
    }

    section {
        // padding: 1rem;
    }

    p {
        line-height: 1.75;
    }

    nav.woocommerce-breadcrumb {
        padding-top: 2rem;
    }
}
