@import 'abstracts/abstracts';

main.site-main {
    background-color: $bg-color;
    font-family: $roboto;
    color: $text-color;
    text-align: center;

    h1 {
        font-family: $abril;
        font-size: 3rem;
        padding-top: 2rem;
    }

    section{
        padding: 1rem;
    }

    p {
        line-height: 1.75;
    }
}
