@import "abstracts/abstracts";

body.page-id-67 {
    section.menu-container {
        margin: 0 1rem;
        section.menu {
            h2 {
                font-family: $bungee;
            }
            div.menu-tab-btn-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
                button.menu-tab-btn {
                    @include menu-button-style;
                }
                button.menu-tab-btn.current-menu-tab {
                    border: 3px solid $coral;
                    background-color: $coral;
                    color: $text-color-light;
                }

                button.menu-tab-btn:hover {
                    border: 3px solid $coral;
                    background-color: $coral;
                }
            }
            section.menu-category-container {
                display: none;
                article.menu-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div.menu-item-description {
                        margin-bottom: 0.5rem;
                        order: 3;
                    }

                    div.menu-item-image-container {
                        margin-bottom: 0.5rem;
                        img {
                            border: 5px solid $blue;
                            border-radius: 10px;
                            max-width: 100%;
                            object-fit: cover;
                            height: 360px;
                        }
                    }
                }
            }
            section.menu-category-container.active {
                display: block;
            }
        }
    }
}

@media (min-width: 37.5rem) {
    body.page-id-67 {
        section.menu-container {
            section.menu {
                div.menu-tab-btn-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
                    button.menu-tab-btn {
                        background-color: $bg-color;
                        border: 3px solid $blue;
                        margin-bottom: 0.25rem;
                        border-radius: 20px;
                        padding: 0.5rem 0.8rem;
                        width: 150px;
                    }
                    button.menu-tab-btn:hover,
                    button.menu-tab-btn:focus {
                        border: 3px solid $coral;
                    }
                }
                section.menu-category-container {
                    article.menu-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        div.menu-item-image-container {
                            img {
                                border: 5px solid $blue;
                            }
                        }
                        h3 {
                            font-size: 1.05rem;
                        }
                    }
                }
                div.menu-category-grid-container {
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    grid-gap: 2rem;
                    display: grid !important;
                }
            }
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 48rem) {
    body.page-id-67 {
        section.menu-container {
            section.menu {
                div.menu-tab-btn-container {
                    display: flex;
                    flex-direction: row;
                }
                section.menu-category-container {
                    article.menu-item {
                        h3 {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 72rem) {
    body.page-id-67 {
        section.menu-container {
            section.menu {
                @include menu-grid-layout;
            }
        }
    }
}
