.site-header {
  display: flex;
  justify-content: space-between;

  .main-navigation {
    display: block;
    justify-content: right;

    ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0;

      ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;

        ul {
          left: -999em;
          top: 0;
        }

        li {
          &:hover > ul,
          &.focus > ul {
            display: block;
            left: auto;
          }
        }

        a {
          width: 200px;
        }

        :hover > a,
        .focus > a {
        }

        a:hover,
        a.focus {
        }
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }
    }

    li {
      position: relative;

      &:hover > a,
      &.focus > a {
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
  }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 48em) {
  .site-header {
    display: flex;
    justify-content: space-between;

    .site-navigation {
      width: 30%;
    }

    .menu-toggle {
      display: none;
    }

    .main-navigation {
      .sub-menu {
        display: block;
      }

      ul {
        display: flex;
        justify-content: right;
        li {
          padding: 1rem;
        }
      }
    }
  }
}
.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.site-footer {
  .site-info {
    display: flex;
    justify-content: space-evenly;

    .menu-footer-menu-container {
      display: block;

      ul {
        list-style: none;
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;

      }
    }
  }
}
