/* 
This code is a modification of the _s navigation styles and meant to replace the default navigation styles in _s.
Some code as been added (see the comments in the CSS) and some code has been moved into a media query to only apply to larger screens.
*/

.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $coral;
    height: 70px;

    .site-branding {
        height: 70px;

        a.custom-logo-link {
            max-height: 70px;

            img.custom-logo {
                width: 70px;
                margin-left: 1rem;
            }
        }
        .site-title {
            display: none;
        }
    }
}

.main-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1rem;

    button.menu-toggle {
        display: flex;
        align-items: center;
        font-size: 3rem;
        background: transparent;
        border: none;
        color: $bg-color;
        padding: 0 1rem;
        height: 70px;
        transition: 0.3s ease;
    }

    button.menu-toggle:hover {
        background-color: $yellow;
    }

    button.sub-menu-toggle {
        background: none;
        text-align: center;
        display: block;
        margin: 0 auto;
        border: none;
        padding: 0.5rem 1rem;
    }
    button.sub-menu-toggle:hover {
        background: $yellow;
    }
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    padding: 1rem 1rem;
    color: $bg-color;
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: $yellow;
}

.main-navigation ul ul {
    position: absolute;
    top: 100%;
    right: 999em;
    /* The other half of these styles are in the media query */
}

/* The selector for .toggled has been added */
.main-navigation ul li.focus > ul,
.main-navigation ul li.toggled > ul {
    position: static;
}

.main-navigation.toggled ul {
    display: block;
}

.menu-main-menu-container {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: $coral;
    width: 100%;
    text-align: center;
    z-index: 999999;
}

@media screen and (min-width: 50em) {
    .main-navigation {
        button.menu-toggle {
            display: none;
        }
        button.sub-menu-toggle {
            display: none;
        }
        li {
            position: static;
        }
    }

    .main-navigation ul ul.sub-menu {
        display: none;
        z-index: 99999;
        top: 60px;
        right: 0;
        min-width: 150px;
        flex-direction: column;
        width: 50px;
        li {
            width: 150px;
        }
        a {
            background-color: $coral;
            transition: 0.3s ease;
        }
        a:hover {
            background-color: $yellow;
        }
    }

    .main-navigation ul ul a {
        // width: 200px;
    }

    .main-navigation ul.nav-menu li.focus > ul,
    .main-navigation ul.nav-menu li:hover > ul,
    .main-navigation ul.nav-menu li.toggled > ul {
        display: block;
    }

    .main-navigation.toggled ul {
        display: flex;
    }

    .main-navigation ul ul ul {
        left: -999em;
        top: 0;
    }

    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        display: block;
    }

    .main-navigation ul li.focus > ul,
    .main-navigation ul li.toggled > ul {
        position: absolute;
    }

    .menu-toggle,
    .sub-menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
        position: static;
    }

    // .main-navigation.toggled ul {
    //     display: flex;
    //     flex-direction: column;
    // }

    .menu-main-menu-container {
        position: initial;
    }

    // .main-navigation.toggled .menu-main-menu-container {
    //     position: static;

    //     background-color: $coral;
    //     width: 100%;
    //     text-align: center;
    // }
}

.site-footer {
    background-color: $blue;
    padding: 4rem 0;

    .site-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .menu-footer-menu-container {
            width: 50%;
            text-align: center;

            ul {
                list-style: none;
                text-decoration: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 0;
                padding: 0;

                li {
                    padding: 0.3rem;

                    a {
                        text-decoration: none;
                        color: $text-color;
                        transition: 0.3s ease;

                        &:hover {
                            background-color: $yellow;
                            padding: 0.2rem 0.6em;
                            border-radius: 20px 20px;
                        }
                    }
                }
            }

            @media screen and (min-width: 48rem) {
                width: 30%;
                margin: 0 auto;
            }
        }

        @media screen and (min-width: 48rem) {
            width: 80%;
            margin: 0 auto;
        }

        .menu-social-media-menu-container {
            width: 80%;
            text-align: center;
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
            }

            @media screen and (min-width: 48rem) {
                width: 30%;
                margin: 0 auto;
            }
        }
    }
}
